/* =============
    Base
============= */

body{
    h1{
        margin: 0 0 10px 0;
        color: var(--dark-green);
    }
    h3{
        padding: 0;
        margin: 0;
        font-size: rem-calc(18);
        color: var(--dark-green);
    }
    h2, h4{
        padding: 0;
        margin: 0;
        color: var(--dark-green);
    }
    p{
        font-size: rem-calc(16);
        padding: 0;
        margin: 0;
        color: var(--dark-green);
    }
    
}


.base-grid{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas:
    ". section .";

    div{
        grid-area: section;
    }

}



.global-spacing{
    margin: 24px 0px 0px 0px;
    @include md{
        margin: 32px 0px 0px 0px;
    }
    @include lg{
        margin: 48px 0px 0px 0px;
    }
    @include xl{
        margin: 64px 0px 0px 0px;
    }
}

.blog-spacing{
    aside{
        margin: 0 0 10px 0;
    }
    section{
        div{
            h2{
                margin: 0 0 10px 0;
            }
            p{
                margin: 0 0 16px 0;
            }
            button{
                margin: 0 0 16px 0;
            }
        }
    }
}

.hide{

    

    //for hero links 'details' button
    

    //for gallery image
    img{
        display: none;
        @include xxl{
            display: block;
        }
    }
    
}