/* =============
    Base
============= */

.base-grid{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". section .";

    div{
        grid-area: section;
    }

}
