/* =============
    Base
============= */

body{
    h1, h2, h3, h4{
        padding: 0;
        margin: 0;
    }
    p{
        padding: 0;
        margin: 0;
    }
}

.base-grid{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas:
    ". section .";

    div{
        grid-area: section;
    }

}



.global-spacing{
    margin: 24px 0px 0px 0px;
    @include md{
        margin: 32px 0px 0px 0px;
    }
    @include lg{
        margin: 48px 0px 0px 0px;
    }
    @include xl{
        margin: 64px 0px 0px 0px;
    }
}