/* =============
    blog
============= */
#blog-grid {
    
    h2 {
        font-weight: 600;
        
    }


    @include md {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "first first second second"
            "third third fourth fourth"
            ". fifth fifth .";
        gap: 16px;
    }

    @include lg {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "first first second second third third"
            ". fourth fourth fifth fifth .";
        gap: 16px;
    }


}

#first {
    background-color: var(--light-gray);
    grid-area: first;

}

#second {
    background-color: var(--light-gray);
    grid-area: second;

}

#third {
    background-color: var(--light-gray);
    grid-area: third;

}

#fourth {
    background-color: var(--light-gray);
    grid-area: fourth;

}

#fifth {
    background-color: var(--light-gray);
    grid-area: fifth;

}



aside {
    img {
        width: 100%;
        border: 0;
        display: block;
    }


}

#blog-title {
    font-size: rem-calc(24);

    @include md {
        font-size: rem-calc(32);
    }

    @include lg {
        font-size: rem-calc(48);
    }
}

#xl-grid-container{
    //adding this instead of 'blog-16-margin' repeat base grid just for md and above
    @include md{
        padding-right: 16px;
        padding-left: 16px;
    }
    @include xxl{
        display: grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: ". content .";
        >div{
            grid-area: content;
        }
    }
    
}