/* =============
    blog
============= */
#blog-grid {
    @include md {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "first first second second"
        "third third fourth fourth"
        ". fifth fifth .";       
    }
    @include lg {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
        "first first second second third third"
        ". fourth fourth fifth fifth .";
        gap: 16px;     
    }
    @include xl {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
        "first first second second third third"
        ". fourth fourth fifth fifth .";
        gap: 16px;     
    }
}

#first {
    grid-area: first;

}

#second {
    grid-area: second;  

}

#third {
    grid-area: third;
  
}

#fourth {
    grid-area: fourth; 
    
}

#fifth {
    grid-area: fifth;
     
}


aside {
    img {
        width: 100%;
    }
}