/* =============
    blog
============= */

.blog{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". post .";


    
    h1{
    }
    section{
        grid-area: post;
        aside{
            img{

            }
        }
        section{

        }    
    }
}
//make list of blog posts????