/* =============
    gallery
============= */
#gallery{
    img{
        width: 100%;
    }

    @include md{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "first second";
    }
    
    @include lg{
        display: grid;
        grid-template-columns: 60% auto;
        grid-template-areas: "first second";
        
    }
    
    @include xxl{
        display: grid;
        grid-template-columns: 60% auto;
        grid-template-areas: 
        "first second"
        "first third";
        
        
    }
    
}
#first-gallery{
    grid-area: first;

}
#second-gallery{
    grid-area: second;
}
#third-gallery{

    grid-area: third;

}
