/* =============
    gallery
============= */
#gallery{
    img{
        width: 100%;
    }

    @include md{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "first second";
    }
    
    @include lg{
        display: grid;
        grid-template-columns: 60% auto;
        grid-template-areas: "first second";
        
    }
    
    @include xl{
        display: grid;
        grid-template-columns: 60% auto;
        grid-template-areas: 
        "first second"
        "first third";
        
        
    }
    
}
#first{
    grid-area: first;
}
#second{
    grid-area: second;
}
#third{
    grid-area: third;
}
