/* =============
    highlighted links
============= */
#card-grid {



    
    @include md {
        display: grid;
        grid-template-columns:  16px 47.5% 16px auto 16px;
        
        grid-template-areas: ". card1 . card2 .";

        #card1 {
            
            margin-bottom: 0;
            grid-area: card1;
           
        }

        #card2 {
            grid-area: card2;
  
        }

    }


    @include xl {
        display: grid;
        grid-template-columns: auto 485px 16px 485px auto;
        grid-template-areas: ". card1 . card2 .";

        #card1 {
            grid-area: card1;
            
        }

        #card2 {
            grid-area: card2;
        }
    }


}


.highlighted_links {
    display: grid;
    grid-template-columns: 75% auto;

}

h2 {
    font-weight: 400;
    font-size: rem-calc(24);


    @include md {
        font-size: rem-calc(32);
    }

    
}

#card1{

    background-color: var(--light-green);
    margin-bottom: 16px;
    aside{
        align-self: center;
    }
    
}
#card2{
   
    background-color: var(--light-green);
    aside{
        align-self: center;
    }

}



.in-card-flex{
    
    background-color: var(--light-green);
    display: flex;
    section{
        padding: 16px 0 16px 16px;
        @include md{
            padding: 24px 0 24px 16px;
        }
        @include xl{
            padding: 36px 0 36px 16px;
        }
        h2{
            margin-bottom: 8px;
        }
      
    }
    aside{
        margin-left: auto;
        padding-right: 16px;
    }

}
