/* =============
    main hero
============= */



#main-hero {
    img {
        width: 100%;
    }
    h3{
        font-size: rem-calc(18);
    }


    @include xl {
        #right-section {

            display: grid;
            grid-template-columns: 16px 485px auto;
            grid-template-areas: ". content .";

            div {
                grid-area: content;
            }
        }



        #left-section {

            display: grid;
            grid-template-columns: auto 485px 16px;
            grid-template-areas: ". content .";

            div {
                grid-area: content;
            }



        }
    }

}


#banner {
    display: grid;

    section {
        div {
            section {
                margin: 10px 0;
            }
        }
    }

    @include md {
        grid-template-columns: 40% auto;

        section {
            div {
                section {
                    margin: 20px 0;
                }
            }
        }

    }

    @include lg {
        grid-template-columns: 50% auto;

    }

    @include xl {
        grid-template-columns: 50% auto;
    }
}




.main-hero-grid {

    div {
        display: grid;
        grid-template-columns: 16px auto 10% 16px;
        grid-template-areas: ". text icon .";

        section {
            grid-area: text;
        }

        button {
            grid-area: icon;
        }
    }



}