/* =============
    search
============= */
#search {
    margin-top: 110px;
    margin-bottom: 24px;
    // padding-top: 85px;
    @include md{
        margin-top: 120px;
    }
    @include lg{
        margin-top: 140px;
    }

    div {

        display: flex;

        input {
            width: 100%;
            box-sizing: border-box;
            border: none;
            border-bottom: 1.5px solid var(--dark-pink);
            color: var(--dark-green);
            margin-right: 16px;
        }

        ::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: var(--dark-green);
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: var(--dark-green);
        }

        ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: var(--dark-green);
        }



        button {
            background-color: var(--light-pink);
            border: none;
            padding: 6px 10px 4px;

            //coutldn't use .button-transitions because was getting overwritten
            cursor: pointer;

            &:hover {
                background-color: var(--dark-pink);

                transition: 0.25s;
            }

            @include md {
                padding: 10px 16px 8px;
            }
        }
    }

    @include xl {
        display: grid;
        grid-template-columns: auto 980px auto;
        grid-template-areas: ". search .";

        div {
            grid-area: search;
        }
    }
}