/* =============
    Footer
============= */

footer{

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

}

.icon-grid{



        section{
            display: grid;
            grid-template-columns: 21px auto;
            grid-template-areas: "icon text";
            grid-template-rows: repeat(2);
            section{
                grid-area: icon;
                img{

                }
            }
            section{
                grid-area: text;
                p{

                }
            }
        }
    

}
