/* =============
    Footer
============= */

footer {
    p {
        font-size: rem-calc(12);
    }

    h1 {
        margin: 12px 0 8px 0;
        @include md{
            margin: 24px 0 12px 0;
        }
        @include lg{
            margin: 42px 0 12px 0;
        }
        @include xl{
            margin: 64px 0 12px 0;
        }
    }

    h3 {
        margin: 0 0 20px 0;
        font-weight: 600;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;


    }



    @include md {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas:
            "locations newsletter"
            "locations socials";
    }

    @include lg {
        display: grid;
        grid-template-columns: auto 321px 321px 321px auto;
        grid-template-areas:
            ". locations newsletter socials .";
    }



    #locations {
        grid-area: locations;

    }

    #newsletter {
        grid-area: newsletter;

        h1 {
            @include lg {
                text-align: center;
            }
        }
    }

    #socials {
        grid-area: socials;

        h1{
            @include lg {
                text-align: right;
            }
        }

        div {
            section {
                a {
                    padding-right: 24px;
                }

            }
        }
    }
    
    .footer-titles {
        font-size: rem-calc(24px);
    }

    .icon-grid {


        section {
            display: grid;
            grid-template-columns: 21px auto;
            gap: 16px;


        }


    }

    .social-margin{
        margin: 0 0 20px 0;
    }
}