/* =============
    Footer
============= */

footer {
    background-color: var(--dark-green);
    padding-bottom: 36px;

    p {
        color: var(--light-green);
        font-size: rem-calc(12);
    }

    h1 {
        color: var(--light-green);
        margin: 12px 0 8px 0;

        @include md {
            margin: 24px 0 12px 0;
        }

        @include lg {
            margin: 42px 0 12px 0;
        }

        @include xl {
            margin: 64px 0 12px 0;
        }
    }

    h3 {
        color: var(--light-green);
        margin: 0 0 20px 0;
        font-weight: 600;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            div {
                section {
                    div {
                        >section {
                            margin-bottom: 16px;
                        }
                    }
                }
            }
        }


    }



    @include md {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas:
            "locations newsletter"
            "locations socials";
    }

    @include lg {
        display: grid;
        grid-template-columns: auto 321px 321px 321px auto;
        grid-template-areas:
            ". locations newsletter socials .";
    }

    @include xxl {
        display: grid;
        grid-template-columns: auto 480px 480px 480px auto;
        grid-template-areas:
            ". locations newsletter socials .";
    }

    #locations {
        grid-area: locations;

    }

    #newsletter {
        grid-area: newsletter;


        div {
            h1 {
                @include lg {
                    text-align: center;
                }
            }

            input {
                background-color: var(--green);
                border: 0;
                color: var(--dark-green);
                width: 100%;
                box-sizing: border-box;
                padding: 16px 8px;


        
            }

            ::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: var(--dark-green);
            }
    
            :-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: var(--dark-green);
            }
    
            ::-ms-input-placeholder {
                /* Microsoft Edge */
                color: var(--dark-green);
            }

            button {
                margin-top: 16px;

            }
        }
    }

    #socials {
        grid-area: socials;

        h1 {
            @include lg {
                text-align: right;
            }
        }

        div {
            section {
                a {
                    padding-right: 24px;
                }

            }
        }
    }

    .footer-titles {
        font-size: rem-calc(24px);
    }

    .icon-grid {


        section {
            display: grid;
            grid-template-columns: 21px auto;
            gap: 16px;


        }


    }

    .social-margin {
        margin: 0 0 20px 0;
    }
}