/* =============
    Header
============= */

header{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". section .";

    section{
        grid-area: header;
        img{

        }
        nav{

        }
    }
}