/* =============
    Header
============= */

header {
    background-color: var(--dark-green);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    #logo-container{
        display: flex;
        align-items: center;
        section{
            margin-left: 8px;
        }
    
    }

    div{
        display: grid;
        grid-template-columns: 50% auto;


        //hide logo type on small
        section{
            section{
                display: none;
                @include md{
                    display: block;
                }
            }
        }
    }

//structuring logo margins

    img {
        margin: 24px 0;
        @include md{
            width: 50px;
            height: 50px;
        }
        @include lg{
            width: 60px;
            height: 60px;
        }
    }

    h1{
        color: var(--light-pink);
        font-size: rem-calc(20);
        margin: 0 0 2px 0;
        padding: 0;
        @include md{
            font-size: rem-calc(24);
  
        }
        @include lg{
            font-size: rem-calc(26);
            margin: 0 0 4px 0;
        }
    }

    p{
        color: var(--light-pink);
        font-size: rem-calc(10);
        margin: 0;
        padding: 0;
        @include md{
            font-size: rem-calc(14);
        }
        @include lg{
            font-size: rem-calc(16);
        }
    }

    


    #burger-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include lg{
            display: none;
        }

        #burger-btn{
            background-color: transparent;
            color: var(--light-pink);
            border: 1px solid red;
            padding: 16px;
        }
    }



}