/* =============
    Buttons
============= */

button{
    margin: 0;
    padding: 0;
    
}

.standard-button{
    background-color: var(--light-pink);
    border: none;
    color: var(--dark-green);
    padding: 6px 14px;
    cursor: pointer;
    &:hover{
        background-color: var(--dark-pink);
        transition: 0.25s;
    }
}