/* =============
    Navigation
============= */


a:link,
a:visited {
    text-decoration: none;
    transition: 0.25s;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}




nav {
    display: none;
    background-color: var(--light-pink);
    height: 100vh;
    padding: 16px;
    position: fixed;
    right: 0;
    top: 0;
    width: 50vw;
    box-sizing: border-box;

    @include lg {
        display: block;
        background-color: transparent;
        height: 50%;
        padding: 0;
        position: relative;
        width: 100%;
    }


    aside {
        display: flex;
        justify-content: flex-end;

        button {
            background-color: transparent;
            border: none;
            color: var(--dark-green);
        }
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;

        @include lg{
            margin-top: 4vh;
            margin-bottom: 3vh;
            align-items: center;
        }
        
        


        ul {

            // height: 100%;
            // padding-top: 20%;

            @include lg {
                
                display: flex;
                justify-content: flex-end;
                
                
            
                
               
                
                


                li {

                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 24px;
                    text-align: right;


                    @include lg {

                        margin-bottom: 0;
                        padding-top: 0;
                        margin-left: 16px;
                        padding-left: 24px;
                        


                    }

                }
            }


        }

        a:link,
        a:visited {

            color: var(--dark-green);
            display: inline-block;
            padding-bottom: 32px;
            font-size: rem-calc(20);

            @include lg {
                color: var(--light-pink);
                font-size: rem-calc(24);
            }

            &:hover,
            &:active {
                color: var(--dark-pink);


            }
        }
    }
}

